<%= form_for(@accommodation) do |f| %>
  <% if @accommodation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accommodation.errors.count, "error") %> prohibited this accommodation from being saved:</h2>

      <ul>
      <% @accommodation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :camin_anul_trecut %><br />
    <%= f.text_field :last_dorm %>
  </div>
  <div class="field">
    <%= f.label :camera_anul_trecut %><br />
    <%= f.number_field :last_room %>
  </div>
  <div class="field">
    <%= f.label :preferinta_camin_1 %><br />
    <%= f.text_field :first_dorm %>
  </div>
  <div class="field">
    <%= f.label :preferinta_camin_2 %><br />
    <%= f.text_field :second_dorm %>
  </div>
  <div class="field">
    <%= f.label :preferinta_camin_3 %><br />
    <%= f.text_field :third_dorm %>
  </div>
  <div class="field">
    <%= f.label :nume_coleg %><br />
    <%= f.text_field :roommate_name %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
